body {
    background: #200122;
    background: -webkit-linear-gradient(to right, #6f0000, #200122);
    background: linear-gradient(to right, #6f0000, #200122);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: rgba(26, 26, 26, 0.8);
    color: #fff;
    border: 1px solid #333;
    
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #ED213A;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #ED213A;
}

.title::after {
    animation: pulse 1s linear infinite;
}

.form label {
    position: relative;
    width: 95%;
}

.form .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 10px 5px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 12.5px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:focus + span,
.form label .input:valid + span {
    color: #ED213A;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.submit, .reset {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background-color: #93291E;
    cursor: pointer;
    margin-right: 10px;
}

.submit:hover, .reset:hover {
    background-color: #ED213A;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
